:root {
  --social-icon-size-lg: 60px;
  --social-icon-size-sm: 40px;
  --social-icon-font-size-lg: 25px;
  --social-icon-font-size-sm: 20px;
  --social-icon-svg-size-lg: 31px;
  --social-icon-svg-size-sm: 23px;
}

.container {
  display: flex;
  column-gap: 28px;
  justify-content: center;
}

.icon {
  display: inline-flex;
  width: var(--social-icon-size-sm);
  height: var(--social-icon-size-sm);
  font-size: var(--social-icon-font-size-sm);
  text-decoration: none;
  outline: 2px solid white;
  border-radius: 50%;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
  color: white;
}

@media only screen and (min-width: 720px) {
  .icon {
    width: var(--social-icon-size-lg);
    height: var(--social-icon-size-lg);
    font-size: var(--social-icon-font-size-lg);
    outline: 3px solid white;
  }
}

.icon:hover {
  outline-offset: 5px;
}

.icon svg {
  margin: auto;
  width: var(--social-icon-svg-size-sm);
}

@media only screen and (min-width: 720px) {
  .icon svg {
    width: var(--social-icon-svg-size-lg);
  }
}

.social-icon:hover {
  background-color: var(--social-color);
  outline-color: var(--social-color);
}

.icon:hover svg {
  animation: shake 0.25s;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
}
